.Bestellers-section__title {
  @include header-secondary-text;
}

.Bestellers-section__line {
  margin-top: 23px;
  margin-bottom: 24px;
  border: 1px solid $border-color;
}
.cards-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px 24px;
  position: relative;
  margin-bottom: 120px;
}
.chat-btn {
  width: 64px;
  height: 64px;
  background-image: url("../images/chat_icon.png");
  background-repeat: no-repeat;
  background-color: $light-blue;
  background-position: center;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 88px;
  right: 5px;
  z-index: 1;
  bottom: 88px;
}
.chat-btn:hover {
  background-image: url("../images/icon-chat-active.png");
}

.card {
  border: 1px solid $border-color;
  width: 306px;
}
.card:hover {
  transform: scale(1.05);
}
.card-content {
  padding: 32px;
  position: relative;
}
.card-content__link {
  max-width: 178px;
  width: 100%;
  height: 280px;
  display: block;
  margin: 0 auto 16px;
}
.img--1 {
  background: url(../images/image-1.jpg), no-repeat;
  background-size: cover;
}
.img--2 {
  background: url(../images/image-2.jpg), no-repeat;
  background-size: contain;
}
.img--3 {
  background: url(../images/image-3.jpg), no-repeat;
  background-size: cover;
}
.img--4 {
  background: url(../images/image-4.jpg), no-repeat;
  background-size: contain;
}
.img--5 {
  background: url(../images/image-5.jpg), no-repeat;
  background-size: cover;
}
.img--6 {
  background: url(../images/image-6.jpg), no-repeat;
  background-size: contain;
}
.img--7 {
  background: url(../images/image-7.jpg), no-repeat;
  background-size: cover;
}
.img--8 {
  background: url(../images/image-8.jpg), no-repeat;
  background-size: contain;
}
.img--9 {
  background: url(../images/image-9.jpg), no-repeat;
  background-size: cover;
}
.img--10 {
  background: url(../images/image-10.jpg), no-repeat;
  background-size: contain;
}
.img--11 {
  background: url(../images/image-11.jpg), no-repeat;
  background-size: cover;
}
.img--12 {
  background: url(../images/image-12.jpg), no-repeat;
  background-size: contain;
}

.product-badge {
  display: flex;
  align-items: center;
  position: absolute;
  left: 32px;
  top: 32px;
  gap: 4px;
}
.badge {
  @include regulary-text;
  border-radius: 4px;
  padding: 4px 8px 4px 8px;
  color: $white;
}
.badge--hit {
  background-color: $dark-blue;
}
.badge--New {
  background-color: $light-purple;
}
.badge--discount {
  background-color: $pink;
}
.card-content__title {
  @include header-tertiary-text;
  padding-bottom: 3px;
}
.card-content__author {
  @include regulary-text;
  color: $gray;
  border-top: 1px solid $border-color;
}
.prices {
  display: flex;
  align-items: center;
  gap: 24px;
}
.card-content__price {
  @include standart-text;
  color: $red;
  padding-top: 8px;
}
.price_old--gray {
  color: $gray;
  text-decoration: line-through;
}

.card-content__btn {
  width: 100%;
  height: 40px;
  background-color: $dark-eggplant;
  margin-top: 16px;
  color: $white;
  @include regulary-text;
  padding: 8px 24px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
.card-content__btn::before {
  content: "Add to basket";
}
.card-content__btn:hover {
  background-color: #744978;
}

.card-content__btn:active::before {
  content: "End up";
}
.card-content__btn:active {
  background-color: $dark-green;
}
.card-content__btn:active:hover {
  background-color: $light-green;
}
