.footer {
  display: flex;
  align-items: center;
  background-color: $dark-eggplant;
  height: 88px;
}
.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .footer__item {
    @include regulary-text;
    color: $white;
  }
}
