@import "./_veriables.scss";
.container {
  width: 1296px;
  margin: 0 auto;
}
.header {
  margin-bottom: 32px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.top-header {
  display: flex;
  align-items: center;
  background-color: $light-blue;
  height: 72px;
}
.top-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding-left: 30px;
  display: block;
  @include header-primary-text;
  color: $white;
  position: relative;
}
.logo::before {
  content: "";
  position: absolute;
  background: url("../images/Vector.svg");
  display: block;
  max-width: 21.67px;
  width: 100%;
  height: 22.17px;
  left: 0;
  bottom: 50%;
  transform: translateY(50%);
}
.top-header__title-basket {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-basket__total-price {
  color: $white;
  @include regulary-text;
  padding-right: 8px;
}
.basket {
  display: block;
  width: 40px;
  height: 40px;
  background: url("../images/cart_icon.png");
  border: none;
  cursor: pointer;
  position: relative;

  .basket__number {
    @include small-text;
    position: absolute;
    top: 12px;
    left: 19px;
  }
}
// BOTTOM HEADER
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  background-color: $white;
}
.navigation__menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navigation__title,
.menu__link {
  @include regulary-text;
  color: $black;
}
