// Colors
$light-blue: #10bbd5;
$white: #f8fdfe;
$black: #000000;
$header-black: #1f1f1f;
$gray: #8e8e8e;
$red: #e90000;
$dark-blue: #4200ff;
$light-purple: #af39e7;
$pink: #ea33c0;
$dark-eggplant: #4c394e;
$light-eggplant: #744978;
$dark-green: #4d762d;
$light-green: #6db236;
$border-color: #a8a8a8;
// Fonts

// Fonts-waight
$font-regular: 400;
$font-normal: 500;
$font-medium: 600;
$font-bold: 700;

//Sizes
$font-size-xs: 12px;
$font-size-small: 16px;
$font-size-medium: 20px;
$font-size-xl: 24px;
$font-size-xxl: 32px;
