@import "./_reset.scss";
@import "./_veriables.scss";
@import "./_mixin.scss";
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}
.wrapper {
  font-family: "Cabin", sans-serif;
}
@import "./_header.scss";
@import "./_cards.scss";
@import "./_footer.scss";
